.selectedPage {
    font-size: 20px;
    padding: 5px;
    color: red;
    cursor: pointer;
}
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
